/* осовной цвет текста #212121;
    акцент #2196F3;
    цвет текста-2  #757575;
    белый #FFFFFF;
 */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --background-section-color: #2f303a;
}
.page {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* HEADER */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;

  /* padding-left: 215px; */
}
.web {
  color: var(--accent-color);
}
/* Site Nav */

.header-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
/* Contacts Nav */
.contacts-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: var(--background-section-color);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.button {
  color: var(--btn-color);
  background-color: var(--accent-color);
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}
/* section */
.section {
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  padding-bottom: 10px;
}
.subtitle-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* FEATURES */
.features-title {
  margin-bottom: 50px;
}

/* ADVANTAGES */
.advantages {
  padding-top: 94px;
}
.advantages-descr {
  text-transform: uppercase;
}

/* TEAM */

.team {
  background-color: #f5f4fa;
}
.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-container {
  background-color: #fff;
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-section-color);
  color: #ffffff;
}
.logo-white {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;

  margin-bottom: 20px;
}
.address {
  font-style: normal;
}
.address-item {
  padding-bottom: 9px;
}
.contacts-link-white {
  color: rgba(255, 255, 255, 0.6);

  padding-bottom: 9px;
}
/* Projects */
.current-page-link {
  color: var(--accent-color);
}
.projects-button {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.63;
}
.projects-button:hover,
.projects-button:focus {
  background-color: var(--accent-color);
  color: var(--btn-color);
}
.projects-name-link {
  color: var(--primary-text-color);
}
.projects-name-link:hover,
.projects-name-link:focus {
  color: var(--accent-color);
}
.projects-type-link {
  color: var(--secondary-text-color);
}
.projects-type-link:hover,
.projects-type-link:focus {
  color: var(--accent-color);
}
